table.slides-list th:nth-child(3),
table.slides-list td:nth-child(3) {
    text-align: right;
}

@media screen and (max-width: 782px) {
    table.slides-list th:nth-child(3),
    table.slides-list td:nth-child(3) {
        text-align: left;
    }
}

.remove-slide-prompt {
    display: none;
    margin-top: 6px;
}

.remove-slide-prompt span {
    display: inline-block;
    margin: 6px 10px 0 0;
}

tbody tr:first-child button.button.iewp-slick-row-up {
    display: none;
}

tbody tr:last-child button.button.iewp-slick-row-down {
    display: none;
}

.iewp-slick-slide-thumb {
    max-width: 200px;
}

.iewp_slick_saving img {
    vertical-align: middle;
    margin-right: 6px;
}

.iewp-slick-carousel-name {
    padding: 3px 8px;
    font-size: 1.7em;
    height: 1.7em;
    line-height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

tr.iewp-slide td:nth-child(2) {
    padding-bottom: 40px;
}

@media screen and (max-width: 782px) {
    tr.iewp-slide td:nth-child(2) {
        padding-bottom: 0;
    }
    tr.iewp-slide td:nth-child(3) {
        padding-bottom: 40px;
    }
}

input.regular-text {
    width: 98%;
    margin-bottom: 4px;
}

.iewp-slick-options-panel {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    display: none;
}
